*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    width: 900px;
    border: 2px solid #c3c3c3;
    background-color: #eafdea;
}

.table-bordered>:not(caption)>*>* {
    border: 2px solid #249f24;
}

.btn {
    background-color: #ede8ea;
    border: 1px solid #000;
}

select {
    border-radius: 5px;
    background-color: #ede8ea;
}

.form-control {
    border-radius: 0;
    width: 50%;
    padding: 0;
}
span {
    width: 50%;
    margin: 0 !important;
    padding-left: 10px;
}

tr > td:first-child {
    text-align: end;
}